﻿@{
    ViewBag.Title = "Home Page";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<style>
    body {
        font-family: arial;
        font-size: 14px;
    }

    .liveExample {
        padding: 1em;
        background-color: #EEEEDD;
        border: 1px solid #CCC;
        max-width: 655px;
    }

        .liveExample input {
            font-family: Arial;
        }

        .liveExample b {
            font-weight: bold;
        }

        .liveExample p {
            margin-top: 0.9em;
            margin-bottom: 0.9em;
        }

        .liveExample select[multiple] {
            width: 100%;
            height: 8em;
        }

        .liveExample h2 {
            margin-top: 0.4em;
        }

    .ko-grid {
        margin-bottom: 1em;
        width: 100%;
        border: 1px solid silver;
        background-color: White;
    }

        .ko-grid th {
            text-align: left;
            background-color: Black;
            color: White;
        }

        .ko-grid td, th {
            padding: 0.4em;
        }

        .ko-grid tr:nth-child(odd) {
            background-color: #DDD;
        }

    .ko-grid-pageLinks {
        margin-bottom: 1em;
    }

        .ko-grid-pageLinks a {
            padding: 0.5em;
        }

            .ko-grid-pageLinks a.selected {
                background-color: Black;
                color: White;
            }

    .liveExample {
        height: 20em;
        overflow: auto;
    }
    /* Mobile Safari reflows pages slowly, so fix the height to avoid the need for reflows */

    li {
        list-style-type: disc;
        margin-left: 20px;
    }
</style>
<script src="~/Scripts/knockout.simpleGrid.3.0.js"></script>
<div class="jumbotron">
    <h1>List</h1>

</div>

        <div data-bind='simpleGrid: gridViewModel'> </div>


<script>
    

    var PagedGridModel = function (items) {
        this.items = ko.observableArray(items);

        this.addItem = function () {
            this.items.push({ name: "New item", sales: 0, price: 100 });
        };

        this.sortByName = function () {
            this.items.sort(function (a, b) {
                return a.name < b.name ? -1 : 1;
            });
        };

        this.jumpToFirstPage = function () {
            this.gridViewModel.currentPageIndex(0);
        };

        this.gridViewModel = new ko.simpleGrid.viewModel({
            data: this.items,
            columns: [
                { headerText: "File Name", rowText: "FileName" },
                { headerText: "Mime Type", rowText: "MimeType" },
                { headerText: "Created By", rowText: "CreatedBy" },
                { headerText: "Email", rowText: "Email" },
                { headerText: "Description", rowText: "Description" }
            ],
            pageSize: 100
        });
    };

    $.ajax(
    {
        url: '/Api/Asset/Get',
        success: function(data) {
            ko.applyBindings(new PagedGridModel(data));

        }
    });

</script>

